/* Estilo para el contenedor principal */
.c-cerrar {
    background-color: #023b569d;
    width: 50%;
    margin: 4% auto; /* Centra horizontalmente en el viewport */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra elementos horizontalmente */
    padding: 20px;
    height: vh;
}

/* Estilo para el encabezado */
.c-cerrar h2 {
    color: white;
    font-size: 24px;
}

/* Estilo para la imagen */
.c-cerrar img {
    width: 25vw;
    border-radius: 15px;
    margin: 20px 0;
}

body {
    background-image: url(../img/fondo.jpg);
}

.botonCerrar {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.botonCerrars a
{
    text-decoration: none;
    color: white;
    text-align: center;
}
